

<div class="container-fluid"><br/><br/>
<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Wallet</h5>
    <h6 class="card-subtitle mb-2 ">Balance:- {{wallet.currentBalance}}</h6>&nbsp;&nbsp;


    <button type="button" class="btn btn-success"
      data-bs-toggle="modal" data-bs-target="#addMoneyModal">Add <br />&nbsp; Money&nbsp;&nbsp;  </button>
  </div>

</div>
<!-- <div style="text-align: right;">

  <img width="800" src="https://i.pinimg.com/736x/da/ab/b7/daabb7f26808cae607cd6b0907a50599.jpg">

  </div> -->
</div>


<!-- Modal -->
<div class="modal fade" id="addMoneyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Money</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <br />
      <form [formGroup]="AddAmountForm" (ngSubmit)="addMoney()">
      <div class="modal-body">
        <h6>Please Enter the amount you want to add</h6>
        <div style="margin-right: 100px;">
          <input type="number" class="form-control" formControlName="amount" placeholder="Enter the Amount">
        <span class="error-message" *ngIf="AddAmountForm.controls['amount'].touched && AddAmountForm.controls['amount'].invalid">Please Enter the amount between 10 to 10000</span>
        </div>
        <br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!AddAmountForm.valid">Add Money</button>
      </div>
    </form>
    </div>
  </div>
</div>
<br><br/>
